main {
    background-color: pink;
}

p {
    background-color: green;
    border: 20px black dashed;
    padding: 4vw;
    margin: 40px;

    font-family: 'Courier New', Courier, monospace
}

#theSpecial {
    font-size: 100px;
    text-align: justify;

}

.theNew {
    background-color: yellow;
}